<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BOEWebApps</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Opportunities</servlet-name>
    <servlet-class>com.boe.apps.servlets.Opportunities</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Comments</servlet-name>
    <servlet-class>com.boe.apps.servlets.Comments</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Customers</servlet-name>
    <servlet-class>com.boe.apps.servlets.Customers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Services</servlet-name>
    <servlet-class>com.boe.apps.servlets.Services</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LAOStadistics</servlet-name>
    <servlet-class>com.boe.apps.servlets.LAOStadistics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Operations</servlet-name>
    <servlet-class>com.boe.apps.servlets.Operations</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SDMs</servlet-name>
    <servlet-class>com.boe.apps.servlets.SDMs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Improvements</servlet-name>
    <servlet-class>com.boe.apps.servlets.Improvements</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>Finance</servlet-name>
    <servlet-class>com.boe.apps.servlets.Finance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Opportunities</servlet-name>
    <url-pattern>/Opportunities.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Comments</servlet-name>
    <url-pattern>/Comments.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Customers</servlet-name>
    <url-pattern>/Customers.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Services</servlet-name>
    <url-pattern>/Services.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LAOStadistics</servlet-name>
    <url-pattern>/LAOStadistics.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Operations</servlet-name>
    <url-pattern>/Operations.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SDMs</servlet-name>
    <url-pattern>/SDMs.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Improvements</servlet-name>
    <url-pattern>/Improvements.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Finance</servlet-name>
    <url-pattern>/Finance.do</url-pattern>
  </servlet-mapping>
</web-app>