<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BOEWebApps</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>OpportunityController</servlet-name>
    <servlet-class>com.boe.apps.controllers.OpportunityController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>com.boe.apps.controllers.CommentController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.boe.apps.controllers.CustomerController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiceController</servlet-name>
    <servlet-class>com.boe.apps.controllers.ServiceController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LAOController</servlet-name>
    <servlet-class>com.boe.apps.controllers.LAOController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OperationController</servlet-name>
    <servlet-class>com.boe.apps.controllers.OperationController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SDMController</servlet-name>
    <servlet-class>com.boe.apps.controllers.SDMController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpportunityController</servlet-name>
    <url-pattern>/OpportunityController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/CommentController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceController</servlet-name>
    <url-pattern>/ServiceController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LAOController</servlet-name>
    <url-pattern>/LAOController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationController</servlet-name>
    <url-pattern>/OperationController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SDMController</servlet-name>
    <url-pattern>/SDMController.do</url-pattern>
  </servlet-mapping>
</web-app>