<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Up_SellingCross_Selling</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	  <servlet-name>OpportunityController</servlet-name>
	  <servlet-class>com.finance.controllers.OpportunityController</servlet-class>
  </servlet>
  <servlet>
	  <servlet-name>CommentsController</servlet-name>
	  <servlet-class>com.finance.controllers.CommentsController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>OpportunityController</servlet-name>
	  <url-pattern>/OpportunityController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>CommentsController</servlet-name>
	  <url-pattern>/CommentsController.do</url-pattern>
  </servlet-mapping>
<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/commons/error404.html</location>
</error-page>
<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/pages/commons/error_page.jsp</location>
</error-page>
</web-app>